[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
tokio = { version = "1.49.0", features = ["signal", "macros", "rt-multi-thread"] }
log = "0.4.29"
env_logger = "0.11.8"
